@use "../../abstract/colors";

.header{
    background:colors.$headerBackground;
    height: 80rem;
    padding-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    
    &__img{
        width: 50rem;
        height: 50rem;
        object-fit: contain;

    }
}