@use "../../abstract/colors";
@use "../../abstract/mixins";

.footer{
    width: 100%;
    height: 10rem;
    padding: 4rem;
    background: colors.$mainColor;
    @include mixins.flexCenter;
    justify-content: space-evenly;
}