@use "../../abstract/mixins";

.over{
    width: 100%;
    height: 40rem;
    padding: 4rem;
    background: lightblue;
    @include mixins.flexCenter;
    gap: 4rem;
    font-size: 1.5rem;

    &__text{
        width: 60%;
        @include mixins.flexCenter;
        flex-direction: column;
        gap: 2rem;
    }

    &__img{
        height: 30rem;
    }

}