@use "../../abstract/mixins";
@use "../../abstract/fonts";
@use '../../abstract/colors';

.over{
    width: 100%;
    height: auto;
    padding: 4rem;
    background: colors.$mainColor;
    @include mixins.flexCenter;
    gap: 4rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;

    &__text{
        width: 60%;
        height: 100%;
        @include mixins.flexCenter;
        flex-direction: column;
        gap: 2rem;
    }

    &__h2{
        font-size: 3rem;
        font-family: fonts.$h2Font;
    }

    &__img{
        height: 30rem;
    }

}