*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  background: #eee;
  min-height: 100vh;
  scroll-behavior: smooth;
}

.main {
  height: auto;
  width: 100%;
  padding: 6rem 8rem;
  gap: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.nav {
  width: 100%;
  height: auto;
  padding: 2rem;
  background: #7dc5da;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  font-size: 2rem;
  font-family: "Barlow", sans-serif;
  flex-wrap: wrap;
}
.nav__logo {
  width: 18rem;
  height: 6rem;
}
.nav__list {
  width: 80%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.nav__tab {
  text-decoration: none;
  color: white;
}

.nav__tab:visited {
  color: white;
}

.nav__tab:hover {
  color: green;
}

.header {
  background: radial-gradient(rgba(28, 203, 51, 0.9), #214021);
  height: 80rem;
  padding-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.header__img {
  width: 50rem;
  height: 50rem;
  object-fit: contain;
}

.cta {
  width: 20rem;
  height: 12rem;
  background: none;
  border: solid 0.3rem rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  border-radius: 0.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -15%);
  font-size: 2rem;
  font-weight: 600;
  box-shadow: 0 1rem 1rem 0 rgba(13, 133, 29, 0.9);
  transition: 0.5s;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta:hover {
  transition: 0.5s;
  background: #FFB000;
  border: solid 0.3rem rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

#style:focus {
  background-color: yellow;
}

.a {
  width: 100%;
  height: 100%;
}

.sdg {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 4rem 0;
  z-index: 0;
}
.sdg__title {
  font-size: 4rem;
  font-family: "Barlow", sans-serif;
}
.sdg__div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}
.sdg__cards {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 2rem 8rem;
  flex-wrap: wrap;
}
.sdg__card {
  position: relative;
  background: #7dc5da;
  width: 35rem;
  height: 35rem;
  border-radius: 2rem;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}
.sdg__card:hover .sdg__cardLink {
  opacity: 1;
  transition: 0.2s;
}
.sdg__cardImg {
  width: 10rem;
  height: 10rem;
  object-fit: contain;
}
.sdg__cardH2 {
  font-family: "Barlow", sans-serif;
  color: white;
  font-size: 2.5rem;
  text-align: center;
}
.sdg__card--intro {
  font-family: sans-serif;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}
.sdg__cardLink {
  position: absolute;
  color: white;
  bottom: 0;
  left: 0;
  transform: translate(35%, -50%);
  font-size: 150%;
  font-weight: 700;
  opacity: 0;
}
.sdg__cardLink:hover {
  color: #228c22;
  cursor: pointer;
}
.sdg__arrowsArrow {
  color: #7dc5da;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.sdg__arrowsArrow:hover {
  color: #228c22;
  cursor: pointer;
}

.over {
  width: 100%;
  height: auto;
  padding: 4rem;
  background: #7dc5da;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}
.over__text {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.over__h2 {
  font-size: 3rem;
  font-family: "Barlow", sans-serif;
}
.over__img {
  height: 30rem;
}

.footer {
  width: 100%;
  height: auto;
  padding: 4rem;
  background: #7dc5da;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.5rem;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 2rem;
}
.footer__logo {
  width: 20rem;
  height: 7rem;
}
.footer__social {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer h2 {
  font-family: "Barlow", sans-serif;
}

.logo__img {
  width: 20rem;
  height: 7rem;
}

.footer__email {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 15rem;
}

.email__a {
  text-decoration: none;
  color: black;
}

.email__a:hover {
  cursor: pointer;
}

.email__a:visited {
  color: black;
}

.footer__adres {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 15rem;
}

.footer__social {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  display: flex;
  gap: 0.5rem;
  width: auto;
}

.social__a {
  text-decoration: none;
  display: flex;
  gap: 0.5rem;
}

.social__a:hover {
  cursor: pointer;
}

.social__a:visited {
  color: black;
}

.social__logo {
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
}

.modal {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.modalHeader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 7rem;
  padding: 1rem;
  background: #7dc5da;
}
.modalReturn {
  position: fixed;
  font-size: 500%;
  top: 4rem;
  left: 0;
  transform: translate(100%, 100%);
  color: #7dc5da;
}
.modalReturn:hover {
  color: #228c22;
  cursor: pointer;
}
.modalDiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding-top: 10rem;
}
.modalDiv__article {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  padding: 10rem 2rem;
}
.modalDiv__articleTitle {
  font-size: 400%;
  font-family: "Barlow", sans-serif;
}
.modalDiv__articleIntro {
  font-size: 250%;
  font-weight: 700;
}
.modalDiv__articleInformation {
  width: 100%;
  height: 100%;
  font-size: 200%;
}
.modalDiv__articleLink {
  font-size: 150%;
  color: #228c22;
}
.modalDiv__articleLink:hover {
  color: #FFB000;
}
.modalDiv__figure {
  width: 30rem;
  height: 30rem;
}
.modalDiv__figureImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.modalFooter {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  background: #7dc5da;
}

.modalDiv2 {
  flex-direction: row-reverse;
}

.modalDiv3 {
  flex-direction: column-reverse;
  gap: 2rem;
}

.modal__figure2 {
  width: 15rem;
  height: 15rem;
}
.modal__figure2Img2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal__article2 {
  padding: 4rem;
  gap: 1.5rem;
}

.sdgOverzicht {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 4rem;
}
.sdgOverzicht__card {
  width: 25rem;
  height: 30rem;
  background: #7dc5da;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  border-radius: 0.5rem;
  padding: 2rem;
}
.sdgOverzicht__cardFigure {
  width: 10rem;
  height: 10rem;
}
.sdgOverzicht__cardFigure--img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.sdgOverzicht__cardDiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sdgOverzicht__cardDiv--title {
  font-size: 250%;
}
.sdgOverzicht__cardDiv--intro {
  font-size: 150%;
}

@media screen and (max-width: 62.5rem) {
  .nav {
    flex-direction: column;
  }
  .modalDiv__articleTitle {
    font-size: 2rem;
  }
  .modalDiv__articleIntro {
    font-size: 1rem;
  }
  .modalDiv__articleInformation {
    font-size: 1rem;
  }
  .modalfigure {
    width: 8rem;
    height: 8rem;
  }
  .modal__article2 {
    padding: 2rem;
  }
  .modal__figure2 {
    width: 8rem;
    height: 8rem;
  }
  .modal__figure3 {
    width: 5rem;
    height: 5rem;
  }
  .footer {
    gap: 0.5rem;
  }
  .footer__social {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .social__logo {
    width: 4rem;
    height: 4rem;
    font-size: 4rem;
  }
  .social__p {
    display: none;
  }
}
@media screen and (max-width: 37.5rem) {
  .nav {
    font-size: 1rem;
    gap: 1rem;
  }
  .nav__logo {
    width: 10rem;
    height: 3.5rem;
  }
  .header__img {
    width: 90vw;
    object-fit: contain;
  }
}

/*# sourceMappingURL=style.css.map */
