$mainColor: #7dc5da;
$mainColor--transparent: rgba(125, 197, 218, 0.6);
$accentColor: #228c22;
$buttonColor:#FFB000;
$buttonColor_2: rgb(36, 173, 54);
$buttonColor_3: rgb(0, 0, 0);
$fontColor: white;
$background: #eee;
$headerBackground:radial-gradient(rgba(28, 203, 51, 0.9), #214021);
$buttonclick:#d79b19;

$DMbackground: rgb(22, 22, 23);
$DMmainColor: #7dc5da;