@media screen and (max-width: 62.5rem){
    .nav{
        flex-direction: column;
    }
    .nav__logo{
        width: 13rem;
        height: 5rem;
    }
    .nav__

    .footer{
        gap:0.5rem;
    }
    .footer__social{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .social__logo{
        width: 4rem;
        height: 4rem;
        font-size: 4rem;
    }
    .social__p{
        display: none;
    }
}

@media screen and (max-width:37.5rem){
    .header {
        &__img{
            width: 90vw;
            object-fit: contain;
        }
    }
}