@mixin flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin heading{
    font-size: 2rem;
    font-family: 'Barlow', sans-serif;
}

@mixin footerArticle{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}