.OZsdgItem{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    gap: 2rem;

    &__div{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 6rem;
        width: 70%;
        height: 100%;

        &Title{
            font-size: 400%;
        }
        &Intro{
            font-size: 350%;
        }
        &Description{
            font-size: 200%;
        }
    }
    &__figure{
        background: yellow;
        width: 34rem;
        height: 34rem;

        &Img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}